/* ===== PRODUCTS DROPDOWN ===== */
.products-wrapper {
  position: relative;
}

.products-btn {
  background: none;
  border: none;
  font: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #000;
}

/* Arrow */
.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown box */
.products-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  gap: 40px;
  background: #fff;
  padding: 20px 24px;
  border-radius: 0 0 12px 12px;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.05);

  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
  transition: all 0.6s ease;
}

.products-dropdown.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Columns */
.products-col {
  min-width: 230px;
}

/* Items */
.product-item {
  padding: 12px 0;
  border-bottom: 1px solid #e5e9f2;
  font-size: 15px;
  color: #5b6f99;
  cursor: pointer;
}

.product-item:last-child {
  border-bottom: none;
}

.product-item:hover {
  color: #0d2c5a;
}

/* Mobile */
.mobile-link {
  color: #fff !important;
  transition: all 0.3s ease;
}

.mobile-item {
  color: #B8C0D6;
  padding: 18px 0;
  font-size: 14px;
   border-bottom: 1px solid #687A98;
}

.mobile-item:last-child {
  border-bottom: none;
}

/* On Click Nav Link */
.mobile-link:active {
  color: #B8C0D6 !important;
  background: #103562;
}

/* Products open background */
.products-open {
  background: #103562;
}

/* Products inner background */
.products-bg {
  background: #103562;
}

/* Contact-btn */
.contact-btn {
  border: none;
  text-decoration: none;
  color: #103562;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(0.9);
}

.contact-btn:hover {
  background-color: #000 !important;
  color: #fff !important;
  transform: scale(1);
}
